<div class="c-tag">
    <p class="pic"><img src="/file/download/$!{employerE.fileid}"></p>
    <p class="text">
        <span class="job">服务顾问</span>
        <a href="" class="name"><span class="s1">$!{employerE.realname}</span> <i></i><span class="s2">高级</span></a>
    </p>
</div>
<div class="info">
    <p><label>手机号：</label>$!{employerE.phonenumber}</p>
    <p><label>满意度：</label><span class="progressBar" id="spaceused1">$!{statisFaction}</span></p>
    <p><label>接单量：</label>$!{orderSum}单</p>
</div>