<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的主页</title>
<meta name="description" content="注册公司找小微律政,小微律政拥有专业的律师和会计团队,小微律政专注为创业公司及中小微企业提供代办公司注册,商标注册,代理记账,社保公积金开户,公司变更,合同拟定,公司章程等一站式企业服务，小微律政服务流程每一步都无微不至。"/>
<meta name="keywords" content="小微律政公司介绍,小微律政怎么样" />
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/box.css"/>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery.progressbar.min.js"></script>
<script type="text/javascript" src="/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/js/city.js"></script>
<script type="text/javascript" src="/js/jquery.tabs.js"></script>
<script type="text/javascript" src="/js/box.js"></script> 
<script type="text/javascript" src="/js/style.js"></script> 
<script type="text/javascript" src="/js/jx.validate.js"></script>
<script>
	var enterpriseId = "$!{enterpriseId}";
	var businessKey = "$!{businessKey}";
	var nextBusinessKey = "$!{nextBusinessKey}";
	var procInstId = "$!{procInstId}";
	var taskId = "$!{taskId}";
</script>
</head>

<body>
<div class="user-center">
	 <!-- 导航nav -->
    <div class="top-box">
    	#parse("views/common/toproof.html")
    </div>

    <div class="u-banner">
        <div class="box">
            <a href="/mycenter/index.html" class="logo"><img src="/images/user/logo.png" width="130px"/></a>
            <a href="/mycenter/index.html" class="name">用户中心</a>
            <a href="http://www.lvzheng.com" class="back">返回小微首页</a>
        </div>
    </div>
    
    <div class="u-main">
        <div class="crumbs">
            <a class="crumb-link" href="/mycenter/index.html">首页</a>
            <i class="crumb-line">></i>
            <a class="crumb-link" href="/mywf/index.html">全部服务</a>
            <i class="crumb-line">></i>
            <a class="crumb-link" href="/mywf/company/reg/$!{procInstId}">流程首页</a>
        </div>
		#parse("views/mywf/bj-all-self-help-company_change/$!{activityId}/$!{businessKey}.html")
    </div>

	<!-- 底部菜单 -->
    <div class="u-bottom">
         #parse("views/common/bottom.html")
    </div>
    #parse("views/order/zxbuybtn.html")
	<!-- 检查是否可用弹出层 小象-->
	<div class="cd-popup1 cd-box" role="alert"> 
	    <div class="cd-popup-container1 bgno">
	        <p class="sf-loading">小微正在努力为您加载！</p>
	    </div>
	</div> 
</div>
</body>

</html>
